@import 'reset.css';

body {
    background-color: #fff;
}

.root-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* header 시작 */
.header-container {
    background-color: rgba(3,37,65,1);
}

.header-wrap {
    max-width: 1400px;
    height: 64px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-left-wrap {
    display: flex;
}

.header-left-wrap ul {
    display: flex;
    margin-left: 16px;
}

.header-left-wrap li {
    padding: 8px;
    margin-right: 14px;
}

.header-nav-item {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
/* header 끝 */

.page-container {
    max-width: 1400px;
    margin: 0 auto;
}


.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-container {
    width: 250px;
    margin: 16px;
    background-color: #373b69;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.movie-container img {
    max-width: 100%;
}

.movie-info {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    
}

.movie-info h4 {
    margin: 0;
}

.movie-info span {
    margin-left: 3px;
}


